
#template{
	display:none;
}
#wrap{
	position:absolute;
	width:256px;
	left:50%;
	margin-left:-128px;
	text-align:center;
}
.cell{
	position:absolute;
	width:37px;
	height:37px;
	border:1px solid #000;
	background-color:#0e0;
}
#board{
	position:absolute;
}
#message{
	position:relative;
	top: 310px;
}
#reset{
	position:relative;
	top: 320px;
}
#empty{}
#white div{
	position:absolute;
	top:1px;
	left:1px;
	width:33px;
	height:33px;
	background-color:#fff;
	border-radius:17px;
}
#black div{
	position:absolute;
	top:1px;
	left:1px;
	width:33px;
	height:33px;
	background-color:#000;
	border-radius:17px;
}
